@model IEnumerable<NewsProject.Models.News>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">News</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Home" asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp; Create News</a>
        </div>
    </div>
    <br /><br />
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        Created
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var obj in Model)
                {
                <tr>
                    <td>@obj.Name</td>
                    <td>@obj.Category</td>
                    <td>@obj.Author.FirstName @obj.Author.LastName</td>
                    <td>@obj.CreatedTimestamp</td>
                    <td class="text-center">
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Home" asp-route-Id="@obj.Id" asp-action="ViewNews" class="btn btn-success mx-2"><i class="far fa-eye"></i></a>
                            <a asp-controller="Home" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary mx-2"><i class="fas fa-edit"></i></a>
                            <a asp-controller="Home" asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger mx-2"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No news exits.</p>
    }
</div>
